manifest {
    name            = 'oncotranscript-tnbc'
    author          = 'lokaaaaaaa'
    description     = 'Reproducible Nextflow DSL2 RNA-seq pipeline for TNBC vs HR+ transcriptomic signature discovery — TCGA-BRCA + GSE58135 validation'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.1'
    version         = '1.0.0'
}

params {
    samplesheet      = "${projectDir}/data/metadata/sample_sheet.csv"
    genome_fasta     = null
    gtf              = null
    star_index       = null
    outdir           = "${projectDir}/results"

    max_memory       = '32.GB'
    max_cpus         = 16
    max_time         = '24.h'
}

profiles {
    standard {
        process.conda = "${projectDir}/environment.yml"
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        process.container      = 'rnaseq-pipeline:latest'
    }
}

process {
    cpus   = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 2.h * task.attempt, 'time' ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2

    withName: 'FASTQC' {
        cpus   = 2
        memory = 4.GB
    }
    withName: 'TRIMGALORE' {
        cpus   = 4
        memory = 8.GB
    }
    withName: 'STAR_ALIGN' {
        cpus   = 12
        memory = 30.GB
    }
    withName: 'FEATURE_COUNTS' {
        cpus   = 4
        memory = 8.GB
    }
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   -- Max memory limit adjustment failed: ${params.max_memory} --"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min(obj, params.max_cpus as int)
        } catch (all) {
            println "   -- Max cpus limit adjustment failed: ${params.max_cpus} --"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   -- Max time limit adjustment failed: ${params.max_time} --"
            return obj
        }
    }
}
